.datagrid table {} 
.datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; }
.datagrid table td, .datagrid table th { padding: 3px 10px; 
}.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 15px;font-weight: bold; }
.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }